<ul class="list-group top5" ng-repeat="restaurant in restaurants">
	<li class="list-group-item list-group-item-info">
		{{ restaurant.name }}
		<a href="/#/restaurants/{{restaurant.id}}" class="btn btn-primary" role="button"> 
			Show 
		</a>
		<a href="/#/restaurants/{{restaurant.id}}/edit" class="btn btn-info" role="button">
			Edit
		</a>
		<a ng-click="delete_record(restaurant.id)" class="btn btn-danger" role="button">
			Delete 
		</a>
	</li>
</ul>

<a href="/#/restaurants/new" class="btn btn-primary top5", role="button">
	Add Restaurant
</a>